.mail-subscribe-container {
	width: calc((100% - 30px * 1) / 2);
}
.subscribe-title {
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: $primary-white-color;
}
.subscribe-form {
	// display: flex;
}
.subscribe-input {
	// width: 358px;
	height: 50px;
	padding: 14px 15px;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: $footer-background-color;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: $primary-white-color;
	&::placeholder {
		color: $footer-secondary-text-color;
	}
}
.subscribe-button {
	display: flex;
	align-items: center;
	border-radius: 4px;
	border-color: transparent;
	padding: 8px 26px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: $primary-white-color;
	background-color: $accent-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
		background-color: $primary-white-color;
	}
}
.subscribe-button-icon {
	margin-left: 10px;
	fill: currentColor;
}
