.address {
	font-weight: 400;
	line-height: 1.71;
	font-style: normal;
	color: $primary-white-color;

	&-list-item:not(:last-child) {
		margin-bottom: 9px;
	}
}
.footer-contacts-link {
	font-weight: 400;
	line-height: 1.71;
	color: $footer-secondary-text-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
