.logo {
	display: inline-block;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: $title-text-color;

	&-color {
		color: $accent-color;
	}
	@media screen and (max-width: 1199px) {
		font-size: 24px;
		line-height: 1.17;
	}
}
.header-logo {
	display: flex;

	@media screen and (max-width: 767px) {
		margin-top: 16px;
		margin-bottom: 16px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		align-items: center;
		margin-right: 81px;
	}
	@media screen and (min-width: 1200px) {
		align-items: center;
		margin-right: 85px;
	}
}
.footer-logo {
	margin-bottom: 20px;
	&-color {
		color: $primary-white-color;
	}
}
