.menu-button {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 0;
	height: 40px;
	outline: none;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
.mobile-menu-icon {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.menu-button .icon-cross {
	opacity: 0;
}
.menu-button.is-open .icon-cross {
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button.is-open:hover .icon-cross,
.menu-button.is-open:focus .icon-cross {
	fill: $accent-color;
}
.menu-button:hover .icon-burger,
.menu-button:focus .icon-burger {
	fill: $accent-color;
}
.menu-button.is-open .icon-burger {
	opacity: 0;
}

.mobile-menu.is-open {
	@media screen and (max-width: 767px) {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}

.mobile-menu {
	width: 100%;

	@media screen and (max-width: 767px) {
		opacity: 0;
		pointer-events: none;

		position: absolute;
		left: 0;
		top: 60px;
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
		z-index: 555;
		background-color: $primary-white-color;

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}
