.footer {
	// ВРЕМЕННО ОТКЛ.
	display: none;
	background-color: $footer-background-color;

	&-container {
		// display: flex;
		// align-items: baseline;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
