.portfolio-card-conteiner {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-card {
	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px * 2) / 3);
		margin-bottom: 30px;
	}

	&:nth-child(3n + 2) {
		@media screen and (min-width: 1200px) {
			margin-right: 30px;
			margin-left: 30px;
		}
	}
	&:nth-last-child(-n + 3) {
		@media screen and (min-width: 1200px) {
			margin-bottom: 0px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 30px * 1) / 2);
	}
	&:nth-last-child(-n + 2) {
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			margin-bottom: 0px;
		}
	}
	&:nth-child(odd) {
		@media screen and (min-width: 768px) {
			margin-right: 30px;
		}
	}
	&:not(:last-child) {
		@media screen and (max-width: 1199px) {
			margin-bottom: 30px;
		}
	}

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
	}
	&:hover .project-desc,
	&:focus .project-desc {
		opacity: 1;
		transform: translateY(0);
	}
}

.project-img-container {
	position: relative;
	overflow: hidden;
}
.project-desc {
	width: 100%;
	height: 100%;
	padding-top: 63px;
	padding-bottom: 63px;
	padding-right: 24px;
	padding-left: 24px;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	transform: translateY(100%);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: $primary-white-color;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-name-container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 24px;
	padding-left: 24px;
	background-color: $primary-white-color;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.project-title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $title-text-color;
}
.project-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	color: $primary-text-color;
}
