$primary-white-color: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$primary-icon-color: #afb1b8;
$box-undertext-color: rgba(47, 48, 58, 0.8);
$footer-secondary-text-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$footer-secondary-background-color: rgba(255, 255, 255, 0.1);
